<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_PHONE_CALL" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_REMOTE_MESSAGING" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application android:name=".MultiApplication" android:allowBackup="true" android:label="مكرّر التطبيقات" android:icon="@drawable/ic_launcher_mokarrer" android:roundIcon="@drawable/ic_launcher_mokarrer" android:theme="@style/Theme.ShahbounMulti">
        <service android:name=".RuntimeStubService" android:exported="false" android:stopWithTask="false" android:foregroundServiceType="dataSync|mediaPlayback|phoneCall|location|connectedDevice|mediaProjection|camera|microphone|remoteMessaging" />
        <service android:name=".RuntimeStubService0" android:process=":clone0" android:exported="false" android:stopWithTask="false" android:foregroundServiceType="dataSync|mediaPlayback|phoneCall|location|connectedDevice|mediaProjection|camera|microphone|remoteMessaging" />
        <service android:name=".RuntimeStubService1" android:process=":clone1" android:exported="false" android:stopWithTask="false" android:foregroundServiceType="dataSync|mediaPlayback|phoneCall|location|connectedDevice|mediaProjection|camera|microphone|remoteMessaging" />
        <service android:name=".RuntimeStubService2" android:process=":clone2" android:exported="false" android:stopWithTask="false" android:foregroundServiceType="dataSync|mediaPlayback|phoneCall|location|connectedDevice|mediaProjection|camera|microphone|remoteMessaging" />
        <service android:name=".RuntimeStubService3" android:process=":clone3" android:exported="false" android:stopWithTask="false" android:foregroundServiceType="dataSync|mediaPlayback|phoneCall|location|connectedDevice|mediaProjection|camera|microphone|remoteMessaging" />
        <service android:name=".RuntimeStubService4" android:process=":clone4" android:exported="false" android:stopWithTask="false" android:foregroundServiceType="dataSync|mediaPlayback|phoneCall|location|connectedDevice|mediaProjection|camera|microphone|remoteMessaging" />

        <service android:name=".RuntimeJobService0" android:process=":clone0" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="true" />
        <service android:name=".RuntimeJobService1" android:process=":clone1" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="true" />
        <service android:name=".RuntimeJobService2" android:process=":clone2" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="true" />
        <service android:name=".RuntimeJobService3" android:process=":clone3" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="true" />
        <service android:name=".RuntimeJobService4" android:process=":clone4" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="true" />

        <receiver android:name=".RuntimeStubReceiver" android:exported="false" />
        <receiver android:name=".RuntimeStubReceiver0" android:process=":clone0" android:exported="false" />
        <receiver android:name=".RuntimeStubReceiver1" android:process=":clone1" android:exported="false" />
        <receiver android:name=".RuntimeStubReceiver2" android:process=":clone2" android:exported="false" />
        <receiver android:name=".RuntimeStubReceiver3" android:process=":clone3" android:exported="false" />
        <receiver android:name=".RuntimeStubReceiver4" android:process=":clone4" android:exported="false" />

        <activity android:name=".RuntimeStubActivity" android:exported="false" android:excludeFromRecents="true" android:launchMode="standard" />
        <activity android:name=".RuntimeStubActivity0" android:process=":clone0" android:exported="false" android:excludeFromRecents="true" android:launchMode="standard" />
        <activity android:name=".RuntimeStubActivity1" android:process=":clone1" android:exported="false" android:excludeFromRecents="true" android:launchMode="standard" />
        <activity android:name=".RuntimeStubActivity2" android:process=":clone2" android:exported="false" android:excludeFromRecents="true" android:launchMode="standard" />
        <activity android:name=".RuntimeStubActivity3" android:process=":clone3" android:exported="false" android:excludeFromRecents="true" android:launchMode="standard" />
        <activity android:name=".RuntimeStubActivity4" android:process=":clone4" android:exported="false" android:excludeFromRecents="true" android:launchMode="standard" />

        <activity android:name=".DebugActivity" android:enabled="${debugActivityEnabled}" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
    </application>
</manifest>
